﻿.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 10px 8px 8px 10px;
        text-decoration: none;
        font-size: 15px;
        color: #ffffff;
        justify-content: center;
        display: flex;
        transition: 0.3s;
        flex-direction: column;
        align-items: center;
    }

    .sidenav span {
        margin-top: 7px;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 36px;
        margin-left: 50px;
    }


.img-menu {
    width: 40px;
    transition: 0.5s;
}

    .img-menu:hover {
        width: 80px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
