
body, html {
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

#wrap {
	max-width: 490px;
	/* min-height: 100%; */
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin: 0 auto;
	padding: 10px;
}

.main-bird {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 768px;
	margin: 20px auto;
	height: 645px;
	background-size: contain;
	background-image: url('../../image/bg1.png');
	background-repeat: no-repeat;
	background-position: center;
}

.dash-profile {
	margin: 0px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin-top: 10px;
	padding: 0px;
}

	.dash-profile > span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 85px;
		height: 30px;
		padding: 10px;
		font-size: 0.75rem;
		font-weight: bold;
		color: #ffffff;
		margin: 5px;
		border-radius: 7px;
	}

.dash-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.dash-menu-inner {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

	.dash-menu-inner > a {
	}

		.dash-menu-inner > a > img {
			width: 70px;
			height: 70px;
		}

		.dash-menu-inner > a:visited {
			color: #fff;
		}

		.dash-menu-inner > a:hover {
			color: #fff;
		}

		.dash-menu-inner > a:active {
			color: #fff;
		}

.dash-menu-content {
	text-shadow: 2px 2px 8px #8f7527;
	color: #fff !important;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	transition: 0.8s;
	font-weight: bold;
}

	.dash-menu-content :hover {
		transition: 0.5s;
		/* 	background: #318e85;	 */
	}

	.dash-menu-content > span {
		justify-content: center;
		align-items: center;
		color: #cb9f58;
		font-size: 1rem;
		font-weight: bold;
	}

/* .dash-menu-content>span :hover {
    background: #fff;
} */


.headline {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 32%;
	margin: 0 5px;
}

.headline {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 32%;
	margin: 0 5px;
}

	.headline > span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
	}

		.headline > span > img {
			width: 100%;
			height: auto;
		}


.dash-table {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #fff;
}

.dash-table-inner {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.dash-table-last {
	margin-bottom: 80px;
}

.dash-table-title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 5px 0;
	font-size: 20px;
	font-weight: bold;
	background-color: #21294d;
	border: 1px solid #f0d476;
	border-bottom: none;
}

.dash-table-inner > table {
	width: 100%;
	height: auto;
	text-align: center;
	border-collapse: collapse;
}

th {
	/* color: #fff; */
	/* text-shadow: 2px 2px 2px #000; */
	/* background: #383838; */
}

tr {
	background: rgb(20 36 49);
	height: 45px;
}

table th, td {
	/* font-size: 17px; */
	/* border: 1px solid #ffffff; */
}

td {
	background-color: #2e2e2e;
}

/*Download*/
.downl-sec {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 160px 0px 130px 0px;
	color: #fff;
}

.detail-down h2 {
	font-family: Dosis-bold;
	font-size: 44px;
	line-height: 26px;
	text-align: center;
}

.detail-down hr {
	max-width: 140px;
	background-color: #fff;
	height: 2px;
	margin: 27px auto;
}

.detail-down p {
	font-family: Dosis Regular;
	font-size: 22px;
	line-height: 35px;
	text-align: center;
	width: 49%;
	margin: auto;
}

.mobiles-down {
	margin-top: 130px;
}

	.mobiles-down a {
		display: flex;
		margin: 0 auto;
		color: #fff;
		border: 2px solid #fff;
		background-color: transparent;
		padding: 7px 27px 14px 23px;
		min-width: 320px;
		align-items: center;
		margin-bottom: 30px;
		text-decoration: none;
		height: 92px;
		max-width: 322px;
		max-height: 92px;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}

		.mobiles-down a:hover {
			background-color: #53c5d5;
		}

		.mobiles-down a p {
			margin: 0;
		}

	.mobiles-down .apple-store {
		background-color: transparent;
		margin-bottom: 30px;
		text-align: center;
	}

		.mobiles-down .apple-store .fa-mobile-alt {
			font-size: 67px;
		}

		.mobiles-down .apple-store p {
			margin-left: auto;
		}

	.mobiles-down .apple p {
		padding: 0 0 0 63px;
	}

	.mobiles-down .google-store p {
		font-family: Arial, Bold;
		text-align: left;
		line-height: 32px;
		padding: 0 0 0 30px;
		vertical-align: middle;
		line-height: inherit;
	}

	.mobiles-down .windows-store {
		max-width: 362px;
		max-height: 92px;
	}

		.mobiles-down .windows-store p {
			text-align: left;
			padding: 0 0 0 30px;
		}

@media (max-width: 992px) {
	.windows-store .win-phon {
		font-size: 26px !important;
	}

	.mobiles-down .windows-store {
		max-width: 322px;
	}
}

.main {
	width: 275px;
	height: 275px;
	border: 1px solid #CCC;
	position: absolute;
	top: -55%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
}




.main-menu {
	display: flex;
	justify-content: space-between;
	;
	align-items: center;
}

.dash-bonus {
	margin-top: 0px;
	width: 100%;
	border-radius: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.img-main-dash {
	width: 60px;
	margin: 0px;
}

.fire-img {
	width: 105px;
}

.gnp {
	text-align: center;
	width: 75px;
	display: flex;
	color: #fff;
	align-items: center;
	height: 35px;
	border: 2px solid #d5af45;
	border-radius: 8px;
	justify-content: center;
}

.gnp-icon {
	background: black;
	/* background-image: url(/common/image/gnp.png); */
	background-size: contain;
	width: 112px;
	background-repeat: no-repeat;
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	height: 35px;
	border-radius: 10px;
	border: 4px solid #ffc107
}

.gnp01 {
	background-image: url(/common/image/tac-01.png);
	background-size: contain;
	width: 112px;
	background-repeat: no-repeat;
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	height: 35px;
}

.buyInfo {
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 80px;
}

.gnp-buyInfo {
	/* background-image: url(/common/image/button.png); */
	/* background-size: cover; */
	width: 245px;
	height: 60px;
	/* background-repeat: no-repeat; */
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.4s;
}

	.gnp-buyInfo:hover {
		opacity: 0.8;
	}

.gnp-outer {
	background: #fff;
	padding: 7px;
	background-size: contain;
	width: 130px;
	background-repeat: no-repeat;
	display: flex;
	color: #000;
	border-radius: 7px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}

a {
	text-decoration: none !important;
}

.dash-main-inner {
	flex-direction: column;
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	/* background-image: url('../../image/bg.gif'); */
	border-radius: 25% 5%;
	padding: 0px;
	/* border: 1px solid #05ebf5; */
	width: 100%;
	/* box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px; */
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* border-radius: 7px; */
	cursor: pointer;
	transition: 0.3s;
}

	.dash-main-inner:hover {
		/* background-color: #ffc107 !important; */
	}

.home-main {
	text-align: center;
	background: antiquewhite;
	font-weight: bold;
	margin-right: 25px;
	margin-bottom: 10px;
	color: #000000;
	width: 100px;
	margin: 20px;
	border: 2px solid #bd9c69;
	padding: 5px;
	border-radius: 7px;
}

.logout-main {
	background: antiquewhite;
	font-weight: bold;
	margin-left: 25px;
	margin-bottom: 10px;
	color: #000000;
	width: 100px;
	text-align: center;
	margin: 20px;
	border: 2px solid #bd9c69;
	padding: 5px;
	border-radius: 7px;
}

.system-box {
	background: antiquewhite;
	color: #000000;
	width: 100px;
	margin: 20px;
	font-weight: bold;
	border: 2px solid #bd9c69;
	padding: 5px;
	border-radius: 7px;
	text-align: center;
}

.gnp-sub {
	background-image: url('../../image/circlr.gif');
	display: flex;
	justify-content: center;
	align-items: center;
	width: 185px;
	height: 180px;
	background-size: contain;
	text-align: center;
	padding: 7px 0;
	background-repeat: no-repeat;
	font-size: 13px;
}




.notice-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

	.notice-header span {
		margin-top: 20px;
		color: #ceaf61;
		font-weight: bold;
	}

.notice-inner {
	width: 100%;
	display: flex;
	justify-content: space-around;
}


.pointers {
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5px;
	padding: 7px;
	width: 100px;
	height: 170px;
	background-image: url('../../image/tac.png');
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pointers01 {
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5px;
	padding: 7px;
	width: 100px;
	height: 170px;
	background-image: url('../../image/tac-o1.png');
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pointers-inner {
	border: none;
	padding: 5px;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: none;
	border-top: none;
	color: #000;
}

.footer-buyinfo {
	list-style: none;
	color: #fff;
}

	.footer-buyinfo ul li {
		list-style: none;
		color: #fff;
	}

.footer-inner-buyinfo {
	list-style: none;
	border: 5px solid #fbbf08;
	background: #000000;
	padding: 7px;
	color: #e4e4e4;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}

.btnOk {
	margin-right: 5px;
	padding: 10px;
	width: 120px;
	border: none;
	border-radius: 5px;
	background: #379225;
}

.btnCa {
	/* margin-top: 5px !important; */
	padding: 10px;
	width: 120px;
	border-radius: 5px;
	background: #ae1f1f;
}

.on {
	color: #000;
	width: 215px;
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
	padding: 5px;
	border-radius: 5px;
}

.on-inner {
	color: #fff !important;
	background: #fff !important;
	border: 1px solid #dcf0f6 !important;
}

.m_box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.select_form {
	background: rgba(0,0,0,0);
	border-radius: 15px;
	padding: 7px;
	color: #fff;
	border: 1px solid;
	width: 100%;
	text-align: center;
	margin: 5px;
	height: 45px;
}

.tt {
	color: #fff;
	width: 100%;
	border-radius: 15px;
	background: rgba(0,0,0,0.1);
	border: 1px solid #fff;
	overflow-y: auto;
	height: 90px;
	padding: 10px;
}

.way_box {
	margin-bottom: 15px;
	padding: 25px;
	text-align: center;
	border: 2px solid #b9a65b;
	border-radius: 7px;
}

.infomation {
	color: #f01e1e;
}

.point {
	color: #fff;
}

.order-have {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.dash-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	position: fixed;
	right: 0;
	top: 25% !important;
	bottom: 0px;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	display: flex;
	justify-content: center;
}

.none {
	text-align: center;
	background: none;
	border: none;
	color: #fff;
	font-weight: bold;
}

.modal-body {
	margin: 20px;
	color: #ff9800;
	position: relative;
	padding: 15px;
	border-radius: 15px;
	background: #ffffff;
	font-weight: bold;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
}

.modal-footer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.modal-content {
	position: relative;
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(8 15 56)), to(rgb(16 16 16)));
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	outline: 0;
}

.modal-title {
	margin: 0;
	line-height: 1.42857143;
	color: #fff;
	text-align: center;
}

.modal-header .close {
	margin-top: -2px;
	color: #fff;
}

.btn {
	color: #fff;
}

.inner-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.outer-modal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 10px;
	color: #fff;
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #ffc107;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: none;
}

.active, .btn:hover {
	background-color: #666;
	color: white;
}

.point1 {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}

.point2 {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
}

.inform-top {
	text-align: center;
	padding: 7px;
}

.notice_footer {
	display: flex;
	justify-content: center;
}

.btn_footer {
	color: #000;
}

.content-inner {
	padding: 7px;
	color: #fff;
}

.inform-top {
	color: #000;
	background: #fff;
	text-align: center;
	padding: 5px;
}

.detail-last {
	padding: 7px;
	color: #fff;
}

.member-inform {
	width: 100%;
}

.circle {
	width: 40px;
}

.square {
	transform: rotateY(360deg);
	animation: rotateAnimation 5s linear infinite;
}

@keyframes rotateAnimation {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}

.flex {
	display: flex;
	justify-content: space-evenly;
}
