﻿@model AHCBL.Dto.User.OrderDto
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout_table.cshtml";
}
<div class="width1100" data-aos="fade-up" data-aos-duration="2000">
    <p class="pTit" id="t_page_title">현재구매중</p>
    <div id="main">
        <div class="member-inform" data-aos="fade-up" data-aos-duration="2000">
            <div class="tab_con" id="tab-con">
                <div id="member" class="tab-content">
                    <div class="member-inform-box01 inform-box">
                        <div class="choice-effect">
                            @if (Model != null && Model.tab2.Count() != 0)
                            {
                                foreach (var item in Model.tab2)
                                {
                                <div class="buy_info">
                                    <div class="detail_buy">
                                        <ul class="item-drop">
                                            <li class="inner-item">
                                                <span>@Html.DisplayFor(modelItem => item.name)</span>
                                            </li>
                                            <li class="inner-item">
                                                <span>@Html.DisplayFor(modelItem => item.create_date)</span>
                                            </li>
                                            <li class="inner-item">
                                                <span>@Html.DisplayFor(modelItem => item.price)</span>
                                            </li>
                                            <li class="inner-item">
                                                <span class="red_text">@Html.DisplayFor(modelItem => item.fullname)</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //var dt = new Date();
    //dt.setDate(dt.getDate() + 2);
    //$(document).ready(function () {
    //    $(".sale").html(dt);
    //    alert(dt);
    //});
</script>

