﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승리호</title>
    <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css' />
    @Styles.Render("~/common/css/pages/style.css")
    @Styles.Render("~/common/css/main.css")
    @Styles.Render("~/common/css/table.css")
    @Styles.Render("~/common/css/app.css")

    @Styles.Render("~/common/css/pages/slide-nav.css")
    @Scripts.Render("~/common/script/jquery-3.4.1.min.js")
</head>
<body style="display:flex; justify-content:center; background: #000;">
    <div id="wrap" >
        <div class="container" style="position:relative;">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                @*<a class="menu-nav" href="@Url.Action("","Main")">
                <img class="img-menu" src="~/common/image/icon1-01.png" />
                <span>홈</span>
            </a>*@
                <a class="menu-nav" href="@Url.Action("Product_buy_list", "Order")">
                    <img class="img-menu" src="~/common/image/icon1.png" />
                    <span>현재구매중</span>
                </a>
                <a class="menu-nav" href="@Url.Action("order_buy_point","Order")">
                    <img class="img-menu" src="~/common/image/icon2.png" />
                    <span>신청하기</span>
                </a>
                @*<a class="menu-nav" href="@Url.Action("Index","Notice")">
                <img class="img-menu" src="~/common/image/icon3-01.png" />
                <span>게시판</span>
            </a>*@
                <a class="menu-nav" href="@Url.Action("Order_list_point", "Order")">
                    <img class="img-menu" src="~/common/image/icon3.png" />
                    <span>내역</span>
                </a>
                <a class="menu-nav" href="@Url.Action("Index","ChartMember")">
                    <img class="img-menu" src="~/common/image/icon4.png" />
                    <span>조직도</span>
                </a>
                <a class="menu-nav" href="@Url.Action("Index","Member")">
                    <img class="img-menu" src="~/common/image/icon5.png" />
                    <span>내정보</span>
                </a>
                <a class="menu-nav" href="https://open.kakao.com/o/sQmiZ1Xc">
                    <img class="img-menu" src="~/common/image/icon6.png" />
                    <span> 1:1 문의</span>
                </a>
                <a class="menu-nav" href="https://open.kakao.com/o/gls89bYc">
                    <img class="img-menu" src="~/common/image/icon6.png" />
                    <span>카톡정보방</span>
                </a>
                <a class="menu-nav" href="~/Login/LogOut">
                    <i style="font-size:35px; color:#ff9800" class="fas fa-sign-out-alt"></i>
                    <span>로그아웃</span>
                </a>
            </div>
            <div class="dash-bonus" style="margin-bottom:0">
                <span style="font-size:30px;cursor:pointer; color:#fff;" onclick="openNav()">&#9776;</span>
                <div class="gnp">
                    <a href="@Url.Action("","Main")">
                        <span style="font-weight:bold; cursor:pointer; margin-right:10px; color:#fff;">홈</span>
                    </a>
                </div>
                <div class="gnp">
                    <span style="font-weight:bold; cursor:pointer; margin-right:10px;">@Session["username"]</span>
                </div>
                <div class="gnp">
                    <span class="copy">
                        <span style="font-weight:bold; cursor:pointer; margin-right:10px;">추천링크</span>
                    </span>
                </div>
            </div>

            @RenderBody()
        </div>
    </div>

    <input type="text" value="@Session["url"]" class="urlJoin" style="position:absolute;left:-1000px;top:-1000px;" />

    <script type="text/javascript">
        document.querySelector(".copy").addEventListener("click", copyText);
        function copyText() {
            var copyText = document.querySelector(".urlJoin");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            alert("복사 된 텍스트 : " + copyText.value);
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "100px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        document.querySelector(".bankAcc").addEventListener("click", copyBank);
        function copyBank() {
            var copyBank = document.querySelector(".bankAcc");
            copyBank.select();
            copyBank.setSelectionRange(0, 99999);
            document.execCommand("copy");
            alert("복사 된 텍스트 : " + copyBank.value);
        }
    </script>

    @Scripts.Render("~/common/script/Chart.min.js")
    @Scripts.Render("~/common/script/all.js")
    @Scripts.Render("~/common/script/jquery.custom.extend.js")
    @Scripts.Render("~/common/script/commonutil.js")
    @Scripts.Render("~/common/script/jquery.cookie.js")
    @Scripts.Render("~/common/script/clipboard.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
