﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AHCBL.Dto.Admin.ContentListDto>

@{
    ViewBag.Title = "Notice_list";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
<div class="dash-main-inner" style="margin-top:15px; display:flex; flex-direction:column;">
    <div class="tabWrap aos-init aos-animate" data-aos="fade-left" data-aos-duration="2000">
        <ul>
            <li class="tab02"><a href="https://open.kakao.com/o/sQmiZ1Xc"><span>Kakao</span></a></li>
            <li class="tab02 on"><a href="#"><span>Telegram</span></a></li>
        </ul>
    </div>

    @*<div class="member-inform" data-aos="fade-up" data-aos-duration="2000">
        <div class="tab_con" id="tab-con">
            <div id="member" class="tab-content">
                <div class="member-inform-box01 inform-box">
                    <div class="inform-top">
                        <h4 style="margin-top:20px;">공지사항</h4>
                    </div>
                    <div class="choice-effect" style="margin:30px 0;">
                        <ul style="list-style:none;">
                            <li>
                                <span class="notice-number" style="width:10%;">No</span>
                                <span style="width:56%;">제목</span>
                                <span style="width:34%;">등록일</span>
                            </li>
                        </ul>
                        @if (Model != null && Model.Count() != 0)
                        {
                            foreach (var item in Model)
                            {
                                <ul style="list-style:none;">
                                    <li>
                                        <a href="@Url.Action("Notice_detail","Notice" , new { id = item.id })" style="width:100%;">
                                            <p class="notice-list">
                                                <span class="notice_bedge">@Html.DisplayFor(modelItem => item.id)</span>
                                                <span>@Html.DisplayFor(modelItem => item.name)</span>
                                                <span class="notice_date">@Html.DisplayFor(modelItem => item.create_date)</span>
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>*@
</div>



