﻿@{
    ViewBag.Title = "qna_write";
    Layout = "~/Views/Shared/_Layout_Product.cshtml";
}
@Styles.Render("~/common/css/pages/qna_write.css")
<div class="subtitle_wrap">
    <h1 style="color:#000;">1:1 문의</h1>
</div>
<div class="width1100">
    <div id="main" style="width:100%;">
        <form name="board_form" id="board_form" method="post">
            <div class="member-inform">
                <div class="inform-box">
                    <ul style="color:#000;">
                        <a>
                            <li>
                                <span style="width:100%;">문의 사항 등록</span>
                            </li>
                        </a>
                        <span class="notice-caption">
                            <textarea style="width:100%;color:#000;padding:10px;" rows="20" name="content" id="content" placeholder="문의 사항 입력해 주세요."></textarea>
                        </span>
                    </ul>
                </div>
            </div>

            <div class="btnWrap">
                <input type="button" class="btnOk" value="문의하기" onclick="savedata()" />
                <input type="button" class="btnCa" value="취소" onclick="window.location.href='qna'" style="margin-left:10px;">
            </div>
        </form>
    </div>
</div>
<script>
    function savedata() {
        var content = $("#content").val();
        if (content == "") {
            alert("귀하의 정보를 입력하십시오.");
            return;
        }
        if (confirm('1:1 문의를 등록 하시겠습니까?')) {

            var options = {};
            options.url = "/Notice/qna_write";
            options.type = "POST";
            options.data = "{'content':'" + content + "'}";
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
                window.location.replace("/Notice/qna");
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);
        }

    }
</script>