﻿@model AHCBL.Dto.User.NoticeDto
@{
    ViewBag.Title = "qna_detail";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

@Styles.Render("~/common/css/pages/qna_detail.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div id="main" style="width:100%;">
    <div class="main-title" style="margin-top:70px;">
        <h2 style="color:#fff;">1:1 문의</h2>
    </div>

    <div class="member-inform" data-aos="fade-up" data-aos-duration="2000">
        <div class="inform-box" style="background: rgba(255,255,255,0.9);">
            <ul style="color: #000;">
                <a>
                    <li>
                        <span>@Html.DisplayFor(model => model.name)</span>
                        <span>@Html.DisplayFor(model => model.status)</span>
                    </li>
                </a>

                <span class="notice-caption">
                    @{
                        if (ViewBag.comment != "")
                        {
                            @Html.DisplayFor(model => model.comment)
                        }
                    }
                </span>
            </ul>
        </div>
        <div class="middle_talk">
            <div class="talk_guest text-right">
                <div class="msg_input">
                    <a class="btn_write" href="@Url.Action("qna_write","Notice")">문의하기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="notice_footer">
        <a href="@Url.Action("qna","Notice")" class="btn btn_footer">목 록</a>
    </div>
</div>
}
