﻿@model IEnumerable<AHCBL.Dto.Admin.ItemListDto>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout_Product.cshtml";
}
<div class="width1100">
    <div class="pTable">
        <p class="myPoint">
            <span id="txt_sendpoint" data-aos="fade-right" data-aos-duration="2000">포인트</span> : <strong><span>@ViewBag.amount</span></strong>
        </p>
        @foreach (var item in Model)
        {
            <div class="way_box way1">
                <h4 style="text-align:center;"><span style="color:#ff7c47;font-weight:700;">|</span> 구매대행 입금방법 <span style="margin-left:10px;font-size:14px;">구매금액 확인</span></h4>
                <br>
                <div class="member_box" style="text-align:center;">
                    <div class="m_box">
                        <div class="mbox on">
                            <p>@Html.DisplayFor(modelItem => item.name)</p>
                        </div>
                    </div>
                    <p class="info_line"></p>
                </div>

                <div class="info_box" style="text-align:center;">
                    <img src="@Html.DisplayFor(modelItem => item.img)" alt="" style="width:200px;">
                </div>

                <div class="infomation">
                    <ul>
                        <li><span class="point">가격(KRW) </span>￦ @Html.DisplayFor(modelItem => item.price)</li>
                        <li><span class="point">보유수익</span>@Html.DisplayFor(modelItem => item.percen) %</li>
                        <li><span class="point">보유기간</span>@Html.DisplayFor(modelItem => item.day) <span class="txt_chip">일</span></li>
                        <li>
                            <p class="qq" id="show_chips_b">
                                @{
                                    var url = string.Format(
                                        "/Product/Product_order/?Token={0}",
                                        @Uri.EscapeDataString(item.token.ToString()));
                                }
                            </p>
                        </li>

                    </ul>
                </div>
                <div class="info_btn">
                    <a class="ResOrder btn on" href="@url">@Html.DisplayFor(modelItem => item.name) 구매예약</a>
                </div>
            </div>
        }
    </div>

</div>

<script>
    function doAction() {
        location.href = "./Product_order";
    }
</script>
