﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AHCBL.Dto.Admin.RequestSellListDto>
@{
    ViewBag.Title = "Sell_history";
    Layout = "~/Views/Shared/_Layout_table.cshtml";
}
<div class="width1100" style="margin-top:15px;" data-aos="fade-up" data-aos-duration="2000">
    <p class="pTit" id="t_page_title">내역</p>
    <div class="tabWrap">
        <ul>
            <li class="tab02"><a href="@Url.Action("Order_list_point","Order")"><span style="color:#000;">충전내역</span></a></li>
            <li class="tab02"><a href="@Url.Action("Index","BuyListTrans")" class="tran02"><span style="color:#000;">구매내역</span></a></li>
            <li class="tab02 on"><a href="@Url.Action("Sell_history","BuyListTrans")"><span style="color:#000;">판매내역</span></a></li>
            <li class="tab02"><a href="@Url.Action("Index","WithdrawTrans")"><span style="color:#000;">출금(원금)내역</span></a></li>
            <li class="tab02"><a><span style="color:#000;">출금(이자)내역</span></a></li>
        </ul>
    </div>
    <div id="main">
        <div class="member-inform" data-aos="fade-up" data-aos-duration="2000">
            <div class="tab_con" id="tab-con">
                <div id="member" class="tab-content page-inner-02">
                    <div class="member-inform-box01 inform-box">
                        <div class="inform-top">
                            <h4 style="margin:10px 0; color:#000; text-align:center;">구매내역</h4>
                        </div>
                        <div class="choice-effect">
                            <table style="width:100%;border-collapse:collapse;text-align:center; color:#fff;">
                                <tr>
                                    <th>No</th>
                                    <th>구매날짜</th>
                                    <th>금액</th>
                                    <th>비고</th>
                                </tr>
                                <tbody>
                                    @if (Model != null && Model.Count() != 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr class="text-center">
                                                <td>@Html.DisplayFor(modelItem => item.num)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.create_date)
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.price_interest)</td>
                                                <td>@Html.DisplayFor(modelItem => item.status)</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="text-center">
                                            <td colspan="5">
                                                No Data !!
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>