﻿@model IEnumerable<AHCBL.Dto.User.MainDto>
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
<div class="dash-logo">
    <a class="" href="">
        @*<img src="~/common/image/logo.png" style=" width: 165px;" />*@
    </a>
</div>
<div id="point-list">

    @foreach (var item in Model)
    {
        <div class="dash-main-inner" style="float:left;width: 30%;">
            <img src="~/common/image/coin-@item.id-1.png" class="square"  style="width:80px;"/>
            <div class="gnp-icon">
                <input class="radio" type="checkbox" name="price" value="@Html.DisplayFor(modelItem => item.amt)" style="margin: 0;"/>
                <a class="dash-menu-content" href="">@Html.DisplayFor(modelItem => item.price)원</a>
            </div>
        </div>
    }
</div>
<div style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
    <div class="pointers">
        <div class="pointers-inner">
            <span>포인트</span>
            <span>@ViewBag.amount</span>
        </div>
    </div>
    <div style="display:flex; justify-content:space-evenly; width:100%;">
        <div class="pointers" style="position: relative; bottom: 60px; left: 5px;">
            <div class="pointers-inner">
                <span>현재수익</span>
                <span>@ViewBag.interest</span>
            </div>
        </div>
        <div class="pointers" style="position: relative; bottom: 60px; right: 5px;">
            <div class="pointers-inner">
                <span>출금 금액</span>
                <span>@ViewBag.withdrawal</span>
            </div>
        </div>
    </div>
    <div class="" style="position: relative; bottom: 98px;">
        <div  id="btnAdd" class="pointers-inner gnp-buyInfo" >
            <img src="~/common/image/tac-o1.png" style="width:120px; position:relative;"/>
            <span style="position:absolute;margin-top: 30px; color:#fff;" onclick="doAction()">구매매칭</span>
        </div>
    </div>
</div>


<div class="buyInfo">
    @*<a class="gnp-buyInfo" id="btnAdd">
        <span class="none">매칭하기</span>
    </a>*@

    <p class="footer-buyinfo">
        <ul class="footer-inner-buyinfo">
            <li>
                승리호 플랫폼은 회원님들의 이익을 증대시키고 자산을 보호하기 위하여 수요와 공급에 따른
                시장성을 적용하여 수익률과 판매일이 변동될 수 있도록 운영합니다 회사 규정과 방침에 따른것을 약속합니다.
            </li>
        </ul>
    </p>*

    <div class="modal fade" id="point_appr" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">매칭내용</h4>
                </div>
                <div class="outer-modal">
                    <div class="point1">
                        <span>포인트금액</span>
                        <p id="pointSelect"></p>
                        <span>원</span>
                    </div>
                    <div class="point2">
                        <span>수익금액</span>
                        <p id="pointInterest"></p>
                        <span>원</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btnOk" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btnCa" data-dismiss="modal">Close</button>
                    <input type="hidden" id="hdfFee" />
                    <input type="hidden" id="hdfAmt" />
                    <input type="hidden" id="hdfTotal" />
                    <input type="hidden" id="hdfInterest" />
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>


    $(function () {
        $('input[type="checkbox"]').on('change', function () {
            $('input[type="checkbox"]').not(this).prop('checked', false);
        });
        var persen = @ViewBag.persen;
        $(".gnp-buyInfo").click(function () {
            var point_chkSum = [];
            var point_chk = [];

            //console.log(point_chk); return;
            $.each($("input[name='price']:checked"), function () {
                point_chkSum.push($(this).val());
                point_chk.push($(this).val());
            });
            if (point_chkSum.length == 0) {
                alert("금액을 선택하세요");
                return false;
            }
            $("#point_appr").modal("show");
            $("#pointInterest").html(addCommas(((point_chkSum / 100) * persen) + parseInt(point_chkSum)));
            $("#pointSelect").html(addCommas(point_chk));
            $("#hdfFee").val(persen);
            $("#hdfAmt").val(point_chkSum);
            $("#hdfTotal").val(((point_chkSum / 100) * persen) + parseInt(point_chkSum));
            $("#hdfInterest").val(((point_chkSum / 100) * persen));
        });

        $("#btnSave").click(function () {
            var pt = @ViewBag.point;
            var fee = $("#hdfFee").val();
            var amt = $("#hdfAmt").val();
            var total = $("#hdfTotal").val();
            var interest = $("#hdfInterest").val();
            if (parseInt(pt) < parseInt(amt)) {
                alert("포인트가 부족해서 살 수 없습니다");
                return;
            }
            $.ajax({
                type: "POST",
                url: "/Main/Savedata",
                data: "{'fee':'" + fee + "','amt':'" + amt + "','total':'" + total + "','interest':'" + interest + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.err == '0') {
                        alert(msg.errmsg);
                        location.reload();
                    } else {
                        alert(msg.errmsg);
                    }
                }
            });
        });
    });




</script>










